[2013-08-29 04:56] IonicaBizau opened #1 "Unexpected identifier error"
[code]

[2013-08-29 05:02] #1 closed, assigned to IonicaBizau

[2014-01-01 04:45] ralyodio opened #4 "Search options"
Where can I find a list of search options that are supported?

[2014-01-01 04:59] ralyodio opened #5 "Where do I get Access Token?"
I found YouTube Data v.3 api credentials.

I don't see anything called 'token' -- am I supposed to use "Client secret" ?

[2014-01-05 11:35] IonicaBizau opened #6 "Support for POST PUT and DELETE requests"
The module doesn't support `POST`, `PUT` and `DELETE` requests yet.

This must be implemented.

[2014-01-08 06:58] #4 closed, assigned to IonicaBizau

[2014-01-19 11:25] #5 closed, assigned to IonicaBizau

[2014-01-25 18:17] IonicaBizau opened #9 "Debug mode"
`debug` mode is really helpful when debugging problems with the requests

[2014-01-25 19:21] IonicaBizau opened #10 "Handle 204 status code"
[code]

[2014-01-25 19:21] #10 closed, assigned to IonicaBizau

[2014-03-03 12:24] IonicaBizau opened #11 "Basic auth"
Is basic authentication supported by YouTube API?

[2014-05-27 08:41] IonicaBizau opened #12 "Create a function generator"
I will replace the many files with a JSON structure and a function that will generate them all.

You can find the latest changes in `dynamic` branch of this repository.
This is a big step for supporting all methods. #6

[2014-05-27 10:45] IonicaBizau opened #13 "Move API files in api directory"
Remove `v0.2.0` directory.

[2014-05-27 10:49] #13 closed, assigned to IonicaBizau

[2014-05-27 10:51] IonicaBizau opened #14 "Move files in lib directory"

[2014-05-27 11:22] #14 closed, assigned to IonicaBizau

[2014-05-27 11:24] #11 closed, assigned to IonicaBizau

[2014-05-27 11:37] IonicaBizau opened #15 "Dummy issue"
This issue is for testing purposes.

[2014-05-28 09:50] IonicaBizau opened #16 "Update test app"
https://github.com/IonicaBizau/test-youtube-api

[2014-06-02 16:46] #15 closed, assigned to IonicaBizau

[2014-06-02 16:46] #9 closed, assigned to IonicaBizau

[2014-06-03 13:40] #16 closed, assigned to IonicaBizau

[2014-06-06 18:41] sebastianpatten opened #17 "Url for docs does not resolve"
http://ionicabizau.github.io/youtube-api/ does not resolve.

[2014-06-08 17:28] IonicaBizau opened #18 "JWT authentication support"
As requested [here](https://github.com/IonicaBizau/test-youtube-api/issues/3#issuecomment-45440154), we need to implement JWT authentication.

[code]

[2014-08-10 06:19] #17 closed, assigned to IonicaBizau

[2014-08-10 06:19] #18 closed, assigned to IonicaBizau

[2014-08-10 06:19] #12 closed, assigned to IonicaBizau

[2014-08-10 06:20] #6 closed, assigned to IonicaBizau

[2014-08-12 23:03] barocsi opened #20 "Upload"
Any ideas how to implement the video.insert (upload) functionality? Some node js youtube-upload modules providing something similar, however I'm not sure which to use, or does this module have some convenient way to do it?

[2014-08-13 05:41] #20 closed, assigned to IonicaBizau

[2014-08-13 05:45] barocsi opened #21 "Proper login and refresh token"
Hello,

I used https://developers.google.com/oauthplayground to generate the appropriate OAUTH 2.0 access keys for various youtube V3 API accesses. It gives me the access and refresh tokens. I saw In your code that it supports refresh_token at

[code]

however Im not sure on how to use it properly to regenerate an access token automatically using refresh token besides going to playground and gener

[2014-08-13 06:54] #21 closed, assigned to IonicaBizau

[2014-09-14 21:58] amorimdecoelho opened #23 "Server authentication mistake in documentation"
Server Key

[code]

It's actually key: "your server key" as can be seen in:

[code]

[2014-09-15 06:06] #23 closed, assigned to IonicaBizau

[2014-11-03 00:43] PManager1 opened #24 "how to get the ACCESS_TOKEN ?"

[2014-11-03 06:20] #24 closed, assigned to IonicaBizau

[2015-01-10 00:23] kumavis opened #26 "Problem with playlist insert"
http://stackoverflow.com/questions/25815997/playlistitems-insert-failing-in-node-js-googleapi-youtube

[2015-01-10 09:59] adrianfalleiro commented on #26
Hi @kumavis, I wrote that reply on Stack Overflow.

What issue are you having with playlist insertion? What error message do you receive?

[2015-01-10 16:43] kumavis commented on #26
It worked per the answer. Perhaps this module should handle that call differently? If not I think the README should be adjusted.

[2015-01-10 17:11] adrianfalleiro commented on #26
Ah right, I made the PR to update the README and it looks like I left out the snippet object.

I agree that the call could be better handled. But this module is just a thin wrapper around the Googleapis library, so I think that better documentation is the best way

[2015-01-10 20:44] #26 closed

[2015-01-10 20:48] IonicaBizau commented on #26
Awesome, I voted the question and the answer. :smile:

@adrianfalleiro I merged the PR, is it tested? If so, that's cool.

Yes, this library became a after #19 was merged. I implemented independently almost all the calls in this library (before that PR), but the Google devs developed that great module. So, I decided using it. And yes, I'm a contributor there too! :smile:

[2015-01-29 06:57] OKNoah opened #28 "Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup."
Confused about why this doesn't work. Using `q` node module for promises.
[code]

[2015-01-29 07:14] OKNoah commented on #28
Ah, `token` should be `key` when not using OAuth.

[2015-01-29 07:28] IonicaBizau commented on #28
Yes, you should use the `key` option. Is the issue solved?

[2015-01-29 09:15] OKNoah commented on #28
Yes, it's solved.

[2015-01-29 09:16] IonicaBizau commented on #28
Cool! :+1:

[2015-01-29 09:16] #28 closed

[2015-03-01 03:01] tejasmanohar opened #29 "Search?"
Can I search YouTube via this module?

Like making requests to 'http://gdata.youtube.com/feeds/api/videos?q='+ { search_query } +'&format=5&max-results={ }) + ...

[2015-03-01 04:28] adrianfalleiro commented on #29
Yeah, you can search like this:
[code]

[2015-03-01 04:36] tejasmanohar commented on #29
Ah, I see. But why use this over the normal `googleapis` module? This relies on it.

[2015-03-01 06:10] IonicaBizau commented on #29
@adrianfalleiro :+1:

@tejasmanohar See #4, there is a related discussion.

Because I created this module with this type of syntax before of the current implementation of `googleapis`. After #19 was merged, this module uses `googleapis`, but the syntax didn't change.

[2015-03-03 10:10] #29 closed

[2015-03-03 13:14] ivolivares opened #30 "Param "mySubscribers" has been deprecated."
In [documentation](https://developers.google.com/youtube/v3/docs/channels/list), "mySubscribers" parameter appears as deprecated.

[2015-03-03 13:17] IonicaBizau commented on #30
Good point! :+1:

Hopefully this will work:

[code]

[2015-03-03 13:56] ivolivares commented on #30
Yes! It Works!

[2015-03-24 12:56] IonicaBizau commented on #30
@ivolivares Could you please make a PR this snippet?

[2015-06-12 15:23] #30 closed

[2015-06-25 05:29] Chuug opened #33 "How to read an object in the data response?"
Hi,

I'm relatively new in javascript (and I started node 2 hours ago) and I don't know how to go in a object who's in a json response gave by this app.

A little illustration when I console.log the data response:
![stats](https://cloud.githubusercontent.com/assets/7072863/8347771/c6934716-1b0a-11e5-990e-403dfc9129f6.PNG)

Statistics is an object and I don't know how to pick a value in so if you k

[2015-06-25 05:36] #33 closed

[2015-06-25 05:55] IonicaBizau commented on #33
@Chuug Happy to hear you found the answer. :smile:

[2015-06-25 06:03] Chuug commented on #33
I always find the issue after posting my questions :stuck_out_tongue_winking_eye:

Thank you for the module man

[2015-06-25 06:05] IonicaBizau commented on #33
Ha! I would like to be like you then! :smile: I ask on StackOverflow and if I don't get any feedback I start opening issues on GitHub... And maybe then I got a solution. :smile_cat:

You're welcome!

[2015-06-25 22:51] chovy opened #34 "node.js bindings?"
Are there any plans to create an NPM/node.js module to interface with youtube-dl?

[2015-06-26 05:20] IonicaBizau commented on #34
This is behind the scope of this project. Most probably this module can be used to download videos, but there is already a module for that, by @fent: https://github.com/fent/node-youtube-dl

[2015-06-26 05:20] #34 closed

[2015-06-29 16:29] periyasamy25 opened #35 "How to upload video to youtube?"
I want to upload videos to youtube using nodejs so please tell me how to upload videos to youtube using youtube-api.

[2015-06-29 16:30] IonicaBizau commented on #35
@periyasamy25 Hey!

I answered this in #20. See [my comment](https://github.com/IonicaBizau/youtube-api/issues/20#issuecomment-52010830). Hopefully it's still working. :sparkle:

[2015-06-29 16:30] #35 closed

[2015-07-01 12:28] periyasamy25 commented on #35
when i used this method
Youtube.authenticate({
    type: "key"
  , key: "your server key"
}); it'll show the following error.
{ [Error: Login Required]
  code: 401,
  errors:
   [ { domain: 'global',
       reason: 'required',
       message: 'Login Required',
       locationType: 'header',
       location: 'Authorization' } ] }

[2015-07-01 12:46] periyasamy25 commented on #35
how to get keyFile for JWT authentication?

[2015-07-01 13:39] IonicaBizau commented on #35
They key authentication is used for read-only requests, from what I know. You probably need OAuth (with upload rights) or JWT. [Here](https://github.com/IonicaBizau/learning-jwt) is a helpful resource for learning JWT. :smile:

[2015-07-01 15:31] periyasamy25 commented on #35
type: "jwt"
  , email: "77....3vv@developer.gserviceaccount.com"
  , keyFile: "... auth.pem"
  , key: "fb....d50"

what is key in this?

[2015-07-01 15:34] IonicaBizau commented on #35
@periyasamy25 You get it in the credentials. Did you read [the steps](https://github.com/IonicaBizau/learning-jwt#creating-a-service-account-using-the-google-developers-console)?

[2015-07-01 15:36] periyasamy25 commented on #35
Yes I got the key and i have used but i got error.
9052:error:0906D06C:PEM routines:PEM_read_bio:no start line:openssl\crypto\pem\p
em_lib.c:703:Expecting: ANY PRIVATE KEY
Error: SignFinal error

[2015-07-01 16:08] IonicaBizau commented on #35
@periyasamy25 Did you select *JSON Key* or *P12*? I just checked it right now.

[2015-07-01 16:10] IonicaBizau commented on #35
@periyasamy25 Also, I'm not sure but the *key* could be one of the fingerprints. Didn't test...

[2015-07-01 16:21] periyasamy25 commented on #35
okay.how to get access token in oauth?

[2015-07-01 16:58] IonicaBizau commented on #35
@periyasamy25 If you use JWT, that's handled internally. If you're using OAuth, see #5.

[2015-07-08 14:14] shiffman opened #36 "youtubeSignupRequired / Unauthorized error"
Thanks for this incredibly helpful node module.  I've followed your `JWT` tutorial and believe I'm authenticating correctly.  However, I'm getting the following errors:

[code]

I'm using the youtube upload example referenced in #20.  My JWT authorization looks like:

[code]

Did I miss a step perhaps?

[2015-07-08 14:30] IonicaBizau commented on #36
I will try to add a little example soon (next hours). I used JWT in one project, and I will check there how JWT works.

[2015-07-08 14:32] shiffman commented on #36
Thanks!  I am not certain JWT is the best path for me.  I am working on an example that auto-upload videos *only* from my account via server instance.  So authenticating a different user is unnecessary and no client-side code needed. (at the moment.)   I will keep investigating.

[2015-07-08 14:35] IonicaBizau commented on #36
OK, you do need JWT! :smile:

[2015-07-08 14:37] shiffman commented on #36
Ok, good to know I am on the right path!  If I can get it working I'll be glad to share an example with a pull request.

[2015-07-08 14:42] shiffman commented on #36
Additional info, if I add:

[code]
I get a different error:

[code]

[2015-07-08 16:35] IonicaBizau commented on #36
The bad news is that JWT cannot access YouTube resources. The good news is that I already have an example which almost works with OAuth2. :smile:

[2015-07-08 17:10] IonicaBizau commented on #35
@periyasamy25 I added a full example in #37. Actually I was wrong when I said that you can do it with JWT. Apologies. Hope you will enjoy the new example. :smile:

[2015-07-08 17:11] IonicaBizau commented on #36
@shiffman OK, so I addressed this in #37. :boom:

[2015-07-08 21:06] shiffman commented on #36
Fantastic, taking a look now and will resume any discussion there!

[2015-07-08 21:06] #36 closed

[2015-07-10 11:05] shiffman opened #38 "Question: progress callback for insert()"
@IonicaBizau, it doesn't look like the youtube api  [`insert()` method](https://developers.google.com/youtube/v3/docs/videos/insert) provides any callback for monitoring upload progress.  This functionality, however, is demonstrated in the API docs with client-side code [outlined here with a `MediaUploader` object](https://developers.google.com/youtube/v3/code_samples/javascript).

There are also

[2015-07-10 11:07] shiffman commented on #38
Interestingly, youtube itself sits on 0% until it is finished.  So progress isn't even shown there?

<img width="395" alt="screen shot 2015-07-10 at 12 06 38 pm" src="https://cloud.githubusercontent.com/assets/191758/8617486/386463c8-26fc-11e5-9c3a-14aaf2b419c7.png">

[2015-07-10 11:11] IonicaBizau commented on #38
That's weird, I also noticed it. It's just about video processing I guess, but I am not sure. Maybe for *big* videos it shows the upload progress.

Since you have the stream, you can do anything with it. For example @freeall created [a module](https://github.com/freeall/progress-stream) to show you the progress. The callback function is fired when the upload is complete (as you noticed).

[2015-07-10 12:17] shiffman commented on #38
Oh, that's great, I'm going to try running some tests.   Isn't the stream I have, however, the one reading the video file from the hard drive (`Fs.createReadStream('test.mov')`) rather than the stream sending the data to youtube itself?

[2015-07-10 12:35] IonicaBizau commented on #38
It is, but [that's piped in the request](https://github.com/google/google-api-nodejs-client/blob/37904cc8b5c8e223644b7f44195cf866fa84e4dc/lib/apirequest.js#L174-L176). The request object is returned.

If this method doesn't work, try to do access the request object directly:

[code]

[2015-07-10 12:40] shiffman commented on #38
Brilliant, it's all starting to make sense now.

[2015-07-10 12:40] #38 closed

[2015-08-11 10:52] Chuug commented on #33
Hi ! I don't know why but now, I get this message when I use data.items[0].kind. To be honest, I don't know why, I didn't update anything. I can't read the items object anymore
![stats3](https://cloud.githubusercontent.com/assets/7072863/9195986/52a0b414-4027-11e5-80be-d49185859c30.PNG)

[2015-08-11 11:02] IonicaBizau commented on #33
@Chuug Do the following:

[code]

Make sure you handle the errors correctly. :smile:

[2015-08-11 11:26] Chuug commented on #33
oh ok I understand now, it's just one undefined who blow up all the script.

My bad :D thanks man

I really need to get more skill on js

[2015-08-11 11:30] IonicaBizau commented on #33
No problem. You'll get better at it, I'm sure :smile:

[2015-08-30 17:52] bradoyler opened #39 "jwt auth for playlistitem insert"
Hey @IonicaBizau
I'm attempting to add items to a playlist like so:

[code]

My auth works, but I get the error:
[code]

My guess is that jwt auth won't work for inserting items. Which seems strange to me. Is this accurate? Is there some other server-side way to insert items to a playlist? I don't need to upload videos.

Thanks a bunch.

[2015-08-30 17:56] IonicaBizau commented on #39
Yep. I remember that it did work in the past, but it doesn't seem to be supported now.

See #35 for more information. Also, you could check out [this blog post](http://ionicabizau.net/blog/26-uploading-videos-to-youtube-using-nodejs).

You're welcome! :sparkle:

[2015-08-30 17:56] #39 closed

[2015-08-30 18:55] bradoyler commented on #39
@IonicaBizau Ok thanks. However, the JWT `.authorize` callback returns an `access_token` so couldn't that be used somehow to make the `playlistitem.insert` request?

[2015-08-30 19:00] IonicaBizau commented on #39
No, because that access token doesn't have rights to access the YT resources. [Check this](https://developers.google.com/youtube/v3/guides/moving_to_oauth#service_accounts)–JWT is service account, from what I konw. :four_leaf_clover:

[2015-08-30 20:07] bradoyler commented on #39
Oddly, Google actually states:

That's pretty awkward, but reinforces that your [auth example](https://github.com/IonicaBizau/youtube-api/blob/master/README.md#example) is really the only server-side way to write data to YT api.

Thanks.

[2015-08-30 23:41] bradoyler commented on #39
I just realized your example requires browser input. Is there any way around this?

[2015-08-31 00:37] bradoyler commented on #39
Ok, so it seems that I just need to get the proper `access_token` (via browser interaction once) and re-use that acess_token in my cron job.

[2015-08-31 04:23] IonicaBizau commented on #39
Exactly–you only need to get it once, then it will be refreshed by the library I think.

See [this answer](https://github.com/google/google-api-nodejs-client/issues/379#issuecomment-76739274) to exactly the same problem.

[2015-08-31 18:53] bradoyler commented on #39
Ok. I'm getting a `refresh_token` back but still can't find what I'm supposed do with it after the `access_token` expires (1 hr).

I'm happy to add this to your examples... once I get this figured out. :smile:

[2015-08-31 18:56] IonicaBizau commented on #39
@bradoyler Just [set the credentials like here](https://github.com/IonicaBizau/youtube-api/blob/4e1167d538992e6f727b80f3c52b598ae2b53235/example/index.js#L57-L59)–the library will take care of the tokens. :smile_cat:

[2015-08-31 19:00] bradoyler commented on #39
:+1: got it, thx.

[2015-10-19 19:41] alantva opened #43 "Stream Comments"
Hello,

Is there any API stream mode for comment as exists to Twitter?

[2015-10-20 05:25] IonicaBizau commented on #43
I'm not sure... :cry: It seems the API supports such a thing: https://developers.google.com/youtube/v3/live/getting-started

If anyone has an example, please post it. :dizzy:

[2015-10-28 13:53] h3ku opened #44 "Error: Daily Limit for Unauthenticated Use Exceeded. Continued use requires signup."
Hi, when i try to make a request node drop this error.
The api key is correct and YoutubeDataApiV3 appear as active in the dev console.

<img width="638" alt="captura de pantalla 2015-10-28 a las 14 51 15" src="https://cloud.githubusercontent.com/assets/5603877/10790426/942345fc-7d83-11e5-9f37-f0e7c3582d42.png">
<img width="406" alt="captura de pantalla 2015-10-28 a las 14 50 33" src="https://clou

[2015-10-28 13:55] IonicaBizau commented on #44
Not sure, if this solves the problem, but it's obviously a problem:

In the `authenticate` function, replace `token` with `key`:

[code]

Hopefully this is the problem why you're getting this error. :dizzy:

[2015-10-28 13:57] h3ku commented on #44
Oh thanks, this solve the problem.

[2015-10-28 13:57] #44 closed

[2015-10-28 14:02] IonicaBizau commented on #44
Awesome! :grin:

[2015-12-07 03:19] adrianfalleiro opened #47 "MIT Licence retrospective?"
Are versions 1.0.0 to 1.3.0 still licensed under KINDLY license?

Also, just curiously, what made you change your mind to relicense this as MIT?

[2015-12-07 06:21] IonicaBizau commented on #47
Yes, but you can safely upgrade to `1.4.0` because there were not made any (big) changes in the code.

The questions would be what I decided to relicense to KINDLY. :smirk: It was an interesting experiment. Honestly, I wanted to get some money donations because of my GitHub activity (it doesn't matter how much, just $1 is really welcome). But that didn't make a big difference. In the mean time, I

[2015-12-07 06:21] #47 closed

[2015-12-14 10:20] Alexis01 commented on #43
Hello,

I have a question about security.
When i send a video, having done a previous authentication, it would ensure avoid a man in the middle?

Thanks.

[2015-12-14 10:25] IonicaBizau commented on #43
Hey @Alexis01!

It depends on how you define *a man in the middle*. :thought_balloon:
OAuth and APIs in general are made exactly for this reason: for allowing third-parties to access your account, by asking you first to accept that.

That's being said, the third-party is the *man in the middle*:

Basically, don't give access to these apps that you don't trust. :warning:

[2015-12-14 11:25] Alexis01 commented on #43
Ok,

Thanks @IonicaBizau .

[2015-12-26 15:16] hakima opened #49 "Set a video thumbnail"
Hello,
how can a video thumbnail?

I tried something like this:
<code>
Youtube.thumbnails.set({
                videoId: '******'
 });
</code>
Error: { [Error: null] code: 500 }

Thanks

[2015-12-26 15:26] IonicaBizau commented on #49
That means the error is on their side (*Internal Server Error*).

According to the docs, make sure you have one of the scopes:

 - `https://www.googleapis.com/auth/youtubepartner`
 - `https://www.googleapis.com/auth/youtube.upload`
 - `https://www.googleapis.com/auth/youtube`
 - `https://www.googleapis.com/auth/youtube.force-ssl`

You definitely have to send to upload somehow the image.

Try this:

[2015-12-26 15:29] hakima commented on #49
Thank you, it's working :)

[2015-12-26 15:31] IonicaBizau commented on #49
@hakima Oh, awesome! Honestly, didn't test the code, but happy to hear it's working. :smile:

[2015-12-26 15:31] #49 closed

[2016-01-17 10:49] yoedy108 commented on #43
@alantva Hi,
Do you mean share video to Twitter? or add a comment to a video? or stream live video?

[2016-01-17 10:51] IonicaBizau commented on #43
@yoedy108 I think he means to get the live stream comments. Not sure, tho. :thought_balloon:

[2016-01-17 10:54] yoedy108 opened #50 "Received DEPTH_ZERO_SELF_SIGNED_CERT error"
@IonicaBizau Hi!
I saw your example and used it, thank you very much for creating this nodeJS module!
I followed your instructions and after I approve the app in the browser and get the code, I get this error: [Error: DEPTH_ZERO_SELF_SIGNED_CERT].
Can you help me debug this to understand what happened?

Thanks!

[2016-01-17 10:57] yoedy108 commented on #43
Yes, I wondered that myself as it wasn't very clear...
I know how to add comments to videos, but not how to get live stream comments, so I thought he might clear that up.

[2016-01-17 11:00] IonicaBizau commented on #50
Hmm... Can you run the process using `NODE_DEBUG=request node your-script.js` and post the output here?

The error looks to appear because of the https certificates... :thought_balloon:

[2016-01-17 11:08] yoedy108 commented on #50
Here it is (and please excuse me for dropping the secret info: :bowtie:
[code]

[2016-01-17 11:38] IonicaBizau commented on #50
That secret info is probably not that important. You're safe as long you keep the token secret.

Do you have some kind of firewall or anything related that would block that request?

Just in case, you can bypass this error by disabling the `NODE_TLS_REJECT_UNAUTHORIZED`:

[code]

http://stackoverflow.com/q/10888610/1420197

[2016-01-17 12:02] yoedy108 commented on #50
That indeed bypassed the error, but now I get another one:
__[Error: Parse Error] bytesParsed: 1037, code: 'HPE_INVALID_CONSTANT'__
The following output follows the one I sent before:
[code]

Am I missing something here? I'm behind a proxy, do you think that I should add proxy info when starting the lien server? Authentication seems to work because I do get the code, but wait, the authentication i

[2016-01-17 12:06] IonicaBizau commented on #50
What kind of proxy? Somewhere when doing the `https` request, it fails... No idea why... :cry:

[2016-01-17 12:09] yoedy108 commented on #50
An http web proxy at work...
The redirect-uri you asked to configure is http://localhost:5000/oauth2callback right? could it be that using this http redirect but authenticating with https causes this error?

[2016-01-17 13:19] IonicaBizau commented on #50
Hmm... That could be the problem. Make sure that your proxy works fine with https...

[2016-01-17 13:32] yoedy108 commented on #50
Actually connecting and modifying YouTube works just fine with my python script because there I can just configure httplib2 to use proxy so all YouTube API requests are sent through it.
I'm trying to rewrite the script in JS using your module and I'm not familiar with how to configure proxy for YouTube API in JS...
I understand it's not related to lien or your module, but it would be great if you

[2016-01-17 13:37] IonicaBizau commented on #50
Ah, got it. This module uses the `googleapis` package and you can do:

[code]

https://github.com/google/google-api-nodejs-client#example-specifying-a-default-proxy-and-auth-to-be-used-for-each-request

[2016-01-17 14:00] yoedy108 commented on #50
Well... I added this proxy configuration to your index.js so it would be configured by default:
`Google.options({ proxy: "http://corporate_proxy:8000", auth: authObj });`
But unfortunately I still get the same Parse Error - HPE_INVALID_CONSTANT... :sob:
Lien handles the requests and responses right? so maybe proxy configuration is required there as well? Is that even possible? :thought_balloon:
Al

[2016-01-17 14:25] IonicaBizau commented on #50
Try to set up a basic script without `lien`. But I don't think the problem is `lien`. The requests are made by `googleapis` (and particularly by the `request` module).

Check if the problem still persists.

[2016-01-19 11:56] yoedy108 commented on #50
I researched quite deeply and I think I got it... the problem is that Lien expects to receive 'contentType=html' but Google redirects the token info with json, so I get the HPE_INVALID_CONSTANT (Html Parse Error).
How can I specify in Lien that the content type should be json and not html?

[2016-01-19 12:05] IonicaBizau commented on #50
@yoedy108 Hmm... Are you talking about [this part](https://github.com/LienJS/Lien/blob/4203af8cd5f3dd4118649da63c74bd208143b81d/lib/index.js#L199-L215)? Where does lien expect `contentType:html`?

Interesting! :+1:

[2016-01-19 12:49] yoedy108 commented on #50
Looks like it's the right place...
My problem is that I'm only a beginner on JS, and I'm not familiar with how to debug it, how to output the responses, or the form data received from Google into the redirect URL in Lien.
That's why I wanted to use your module, to spare me the tests on Google API JS examples...

Is there a way to force Lien to console output the form? responses? or expect other co

[2016-01-19 12:55] IonicaBizau commented on #50
You can edit the lien files from `node_modules` directory. Not sure, but the issue could be deeper in the `statique` package ([relevant snippets](https://github.com/IonicaBizau/node-statique/blob/27010ea1403adddb31c01c1eefd247bdb9816721/lib/index.js#L515-L525)).

[2016-01-21 17:19] alantva commented on #43
@yoedy108 No no.
With twitter api, I receive a callback when I receive a new tweet.
I was wondering if there is something on youtube api for comments?

(sorry for not writing this clear)

[2016-01-21 17:20] alantva commented on #43
@IonicaBizau u are right.

[2016-01-21 17:38] IonicaBizau commented on #43
@alantva I don't think you can do that with YouTube, but you can just check every 1 minute or so for new comments. :four_leaf_clover:

[2016-02-07 21:49] spassalacqua opened #51 "Server side authentication"
Hello

First of all thank you for the great library.  I have some questions as I'm sort of a newbie.  I have an iOS app where I handle the google authentication (and get a token).  From my app I want to post the video to a server running node and then post the video to youtube without any further user interaction.  Is that possible, if so can you please tell me how because it's just not clear to m

[2016-02-08 04:47] IonicaBizau commented on #51
I don't think this is possible. In the past I remember that JWT authentication was working with YouTube API, but now, the workflow for this is to have a page where you will authenticate in the browser (using OAuth) and after the first authentication you will receive a refresh token. Use both: refresh and access tokens to [authenticate to YouTube API](https://github.com/IonicaBizau/youtube-api#oaut

[2016-02-08 04:47] #51 closed

[2016-02-08 23:37] spassalacqua commented on #51
That's disappointing.  I thought for sure if I got a token from the iOS google sdk and passed it to the server side I would be good. It can be done with Facebook tokens

On Feb 7, 2016, at 11:47 PM, Ionică Bizău <notifications@github.com<mailto:notifications@github.com>> wrote:

I don't think this is possible. In the past I remember that JWT authentication was working with YouTube API, but now, th

[2016-02-09 04:36] IonicaBizau commented on #51
@spassalacqua Make sure to ask this question on StackOverflow too. I'm not sure if there is really no other way. :books:

[2016-02-19 00:17] armandomendivil opened #52 "I can "this remix video" with this library?"
I need to spend a video of one channel to another, it's possible?

[2016-02-19 04:18] IonicaBizau commented on #52
@armandomendivil Not sure what you mean—what is *this remix video*?

[2016-02-19 06:12] armandomendivil commented on #52
Sorry is "remix this video", this option is for videos with license creative commons.
"remix this video" it's used to transferring video from one YouTube account to another account

[2016-02-19 06:16] IonicaBizau commented on #52
@armandomendivil I don't think that's possible via YouTube API, but you probably can do it using some kind of headless browser (Electron/Phantom).

[2016-02-19 06:16] #52 closed

[2016-04-01 18:09] alexbooker opened #53 "Would you be open to supporting promises?"
Hi. Nice work on this module -- I'm using it for my site, [Community Casts](http://communitycasts.co/).

I was wondering, would you be open to accepting a pull request that adds support for `Promise`s?

[2016-04-02 17:08] IonicaBizau commented on #53
@alexbooker Definitely. But I guess the right place to implement it is directly in `googleapis` and then bump the dependency version here. /cc https://github.com/google/google-api-nodejs-client/issues/523

Also, you can promisify these callback-based functions anytime. :crystal_ball:

[2016-05-11 09:19] IonicaBizau commented on #53
@alexbooker I upgraded the `googleapis` dependency in #56. Promise support was added in https://github.com/google/google-api-nodejs-client/commit/74fd9705f63621997359f26437ae0b3939c33feb so it just landed in this library too. :tada:

[2016-05-11 09:20] IonicaBizau commented on #50
This should be fixed after upgrading to [`lien@1.x.x`](https://github.com/lienjs/lien), in #56. :tada:

[2016-05-11 09:20] #50 closed

[2016-05-11 09:21] IonicaBizau commented on #43
Moved here: https://github.com/google/google-api-nodejs-client/issues/574

[2016-05-11 09:21] #43 closed

[2016-05-11 09:32] alexbooker commented on #53
@IonicaBizau Awesome :+1:

[2016-05-17 08:08] yoedy108 commented on #50
Great! Thanks for getting this fixed!
I'll update the module and check...

[2016-05-28 21:31] alexbooker commented on #53
Would you mind adding an example to the documentation?

I tried:

[code]

... But I'm not getting the result I was expecting. I'm getting a `Request` in return when I would expect a response.

[2016-05-29 17:06] IonicaBizau commented on #53
@alexbooker I didn't test the code, but by reading the [code](https://github.com/google/google-api-nodejs-client/commit/74fd9705f63621997359f26437ae0b3939c33feb#diff-9475ffcd397ad130248cf92c9a813d65R204), I think you have to do something like this:

[code]

[2016-05-30 07:24] alexbooker commented on #53
@IonicaBizau Thanks, but I don't think that's it.

![](http://i.imgur.com/ms1VtHE.png)

Notice the lack of **`await`**. I am inspecting the **`promise`** property and it's **`undefined`**:

![](http://i.imgur.com/7m2NBPf.png)

[2016-05-30 07:27] alexbooker commented on #53
As far as I can tell, [the pull request you linked hasn't been merged :confused:](https://github.com/google/google-api-nodejs-client/pull/559)

[2016-05-30 07:40] IonicaBizau commented on #53
@alexbooker Oh, that's correct... 😭

[2016-05-30 08:16] alexbooker commented on #53
@IonicaBizau Maybe reopen this issue?

[2016-05-30 08:18] IonicaBizau commented on #53
👍

[2016-07-11 18:59] josealfredocastillo7 opened #59 "How to use refresh token"
hello there, i'm actually doing a schedule task for upload video from a cron server, this code really help to understand how work api youtube but my problem is,i don't know how use the refresh refresh token for upload videos from server.
Actually the access token and refresh token are save on database for the schedule, so how i can pass this values to this middleware?? or this could no happens?? i

[2016-07-17 04:25] IonicaBizau commented on #59
You have to pass the tokens here using the `setCredentials` method: https://github.com/IonicaBizau/youtube-api/blob/051fe864fc00b5b5284fb9270f8b3fbf10ff8aaf/example/index.js#L52-L61

[2016-07-17 04:25] #59 closed

[2016-07-18 13:34] josealfredocastillo7 commented on #59
thanks man.. but my problem really is how refresh tokens. Actually i'm using

oauth.refreshAccessToken(function(err, tokens) {
          // your access_token is now refreshed and stored in oauth2Client
          // store these new tokens in a safe place (e.g. database)
          if(!err){
            console.log("Refrescado    :  "+oauth);
          }else console.log("error de authenticate "+err);

[2016-07-18 17:09] IonicaBizau commented on #59
@josealfredocastillo7 The trick is that the refresh token is sent only on the first authentication (when you allow the app to access your Google account). You have to store it in your db and then use it again.

[2016-07-29 07:59] nikhilrayaprolu opened #60 "deleting a video in youtube"
what is the exact syntax to delete a video

[2016-07-29 18:56] nikhilrayaprolu opened #61 "lien.lien is not a function"
[code]
I am getting this error on signing in oauth2

[2016-07-30 18:19] IonicaBizau commented on #61
The error comes from your script: `/home/nikhil/proj/educationtest/ieducative/app/models/coursevideo.js:61`.

Replace `lien.lien` with `lien.end`.

[2016-07-30 18:20] #61 closed

[2016-08-10 17:56] lonelydatum opened #62 "Can this upload to a specific YT account?"
Hello,

I want to give users the ability to upload videos to my YT account. Most of the examples only upload to the user's YT account.

[2016-08-10 17:57] IonicaBizau commented on #62
@lonelydatum Is that possible using the YouTube UI? If not, I think the answer is no... Unless you share with them your credentials.

[2016-08-10 18:03] lonelydatum commented on #62
I don't think it is possible. Thanks for the confirmation. @IonicaBizau

[2016-08-10 18:12] IonicaBizau commented on #62
@lonelydatum Then I guess we can close this issue. 💥

[2016-08-10 18:12] #62 closed

[2016-08-12 23:15] ulion commented on #53
@IonicaBizau when will the new version of this library be released? it's been 8 months since v2.1.7 and the promise feature should be released to public version asap?

[2016-08-14 12:26] IonicaBizau commented on #53
@ulion Honestly, I don't have any idea, but maybe we can add the promise support in this library. We must make sure the last argument is the callback function always (in all the methods). Contributions are welcome in that direction!

For callback-compatibility, I would recommend using [`assured`](https://github.com/IonicaBizau/assured).

[2016-08-20 00:56] CM-moru opened #63 "I got a error about lien"
Hi
Thank you for good package

my app got google oatuth tokens and then
got a error message during request youtube api

do I have to close browser after get tokens?

[2016-08-20 18:14] IonicaBizau commented on #63
It should be `lien.end` instead of `lien.lien`.

[2016-08-30 04:04] #63 closed

[2016-11-10 03:05] lillereven commented on #59
As a hint, and future documentation:

  var authUrl = oauth.generateAuthUrl({
    access_type: "offline",
    scope: ["https://www.googleapis.com/auth/youtube.upload"],
    approval_prompt: "force"
  });

Doing this will always have the needed refresh token included in the callback data.

[2017-01-09 07:02] IonicaBizau commented on #60
Try this (**untested!**):

[code]

[2017-02-04 22:33] Spected opened #69 "Error 404"
Hello i made a module out of this and every time i try to play a video i get Error 404 which is obviously not found but is there any reason why?

[2017-02-05 05:16] IonicaBizau commented on #69
Please ask questions on Stack Overflow, including the code you have.

[2017-02-05 05:16] #69 closed

[2017-02-06 11:02] mandeepm91 opened #70 "Calling refreshAccessToken gives invalid_request error"
I am using access token and refresh token to retrieve user's channels like this:

[code]

Input is like this :

[code]

It works for a while but later when access token expires, I get `Invalid Credentials` error.

The I tried calling `refreshAccessToken` but that gives me `invalid_request` error. How do I make sure this function always returns data, refreshing the access token whenever it has expi

[2017-02-06 11:05] IonicaBizau commented on #70
Please ask this kind of questions on Stack Overflow. Thanks!

[2017-02-06 11:05] #70 closed

[2017-02-06 11:05] #60 closed

[2017-02-06 12:40] mandeepm91 commented on #70
I believe this could be a bug. I ended up using the [official library](https://github.com/google/google-api-nodejs-client) instead and it worked fine there

[2017-03-03 18:38] epdev opened #71 "How to upload files from http?"
Hi, it is possible to upload file directly from the Internet (http://example.com/video.mp4)? How should I change this part?
[code]

[2017-03-03 19:13] epdev commented on #71
http.get :D

[2017-03-03 19:13] #71 closed

[2017-03-10 10:03] glmn opened #72 "Create line break in video description"
Can't create line break in description.
Tried ```\n``` , ```\r\n```, ```\\n```. Still doesn't work.

[2017-03-10 10:19] glmn commented on #72
Weird, but \n seem like works ) Sorry

[2017-03-10 10:19] #72 closed

[2017-03-22 03:45] jfantell opened #74 "How do I retrieve a user's playlists with youtube-api?"
https://stackoverflow.com/questions/42942344/how-do-i-retrieve-a-users-playlists-with-the-nodejs-youtube-api

[2017-03-22 21:15] jfantell commented on #74
Figured out how to do this. Closing issue.

[2017-03-22 21:15] #74 closed

[2017-04-02 03:38] tsabbay opened #76 "captions object"
hi,
we are using your great lib to automate our video publishing.
currently we are trying to add captions(per lang) and we though you might want to add this also.
what do u think ?

[2017-04-02 03:52] IonicaBizau commented on #76
Please ask questions on Stack Overflow and eventually leave a link here.

[2017-04-02 03:52] #76 closed

[2017-05-26 03:41] spikeon opened #77 "oauth2 Note"
I'm writing an api that takes videos uploaded to it and pushes them into our company youtube account.

It'd be helpful if your documentation could show the users how to handle the oauth token if they are using the api in this manner, without user interaction.  Specifically that the developer has to open that url and then get the token and save it, and then refresh it every now and then to keep it

[2017-06-12 06:03] IonicaBizau commented on #77
To be honest, I don't know. Probably it would be a good Stackoverflow question.

[2017-06-12 06:03] #77 closed

[2017-06-22 11:46] longnc2 opened #78 "call request to youtube then Increase very big bandwidth"
Hi Team,

I have use youtube api in node js with request module, but every month Increase bandwidth very big to 100TB/month.
I have use gzip in request but same problem.
can help me suggest or any link to find and fix this problem for me.

Thanks,
Long Nguyen

[2017-06-22 11:54] IonicaBizau commented on #78
Please ask the questions on Stackoverflow, providing sample code.

[2017-06-22 11:54] #78 closed

[2017-06-23 06:28] TH4NOS opened #79 "Adding functionality for picking the last modified file form the directory."
I have posted the issue on stackoverflow and shared the link below.

[https://stackoverflow.com/questions/44714420/youtube-data-api-in-node-js-need-help-in-modifying-a-few-lines-of-code-so-that](url)

[2017-07-15 11:53] KiranShahdadpuri opened #80 "For creating playlist"
As videos.insert() is used here for uploading videos, will playlists.insert() can be used here for creating the playlist on youtube ?

[2017-07-15 14:14] IonicaBizau commented on #80
Hey @KiranShandadpuri!

Yes, according to the API [documentation](https://developers.google.com/youtube/v3/docs/playlists/insert) I assume this would work:

[code]

You have to request at least one of the following scopes when you make the authentication:

[code]

[2017-07-15 14:41] KiranShahdadpuri commented on #80
hi, its working for creating a playlist but when I am adding a video to
that playlist, it is giving me null.
This is my code:

const Youtube = require("youtube-api");
const opn = require("opn");
var bodyParser = require('body-parser');
var express = require('express');
var fs = require('fs');
var app = express();
app.use(bodyParser());

const CREDENTIALS = JSON.parse(fs.readFileSync('./secret.json

[2017-07-15 15:01] IonicaBizau commented on #80
Note `playlists.insert` *creates* the playlist, but doesn't insert videos. You have to use `playlistItems.insert` to add videos.

Check the docs: https://developers.google.com/youtube/v3/docs/playlistItems/insert

This is what I suggest, untested again. Let me know if it works.

[code]

[2017-07-15 15:18] KiranShahdadpuri commented on #80
Yes, now it's working. :)
by using videos.list() and playlistItems.list() method, I am able to get
the list of videos too.
Now, I want to add the subtitles in a video which is again giving me null.
This is my code:

Youtube.captions.insert({

    // Doc: defining caption resource
    snippet: {
        videoId:'GZG9G5txtaE',
        language:"en",
        name:"Subtitless"
    }
    , part: "snipp

[2017-07-15 15:20] IonicaBizau commented on #80
Do you have a captions file?

[2017-07-15 15:21] KiranShahdadpuri commented on #80
No

---- Ionică Bizău (Johnny B.) wrote ----

[2017-07-15 15:23] IonicaBizau commented on #80
@KiranShahdadpuri I think that is required. The [docs](https://developers.google.com/youtube/v3/docs/captions/insert) say:

[2017-07-15 15:24] KiranShahdadpuri commented on #80
In the snippet object only 3 things are mandatory in the doc, so I did it that way

Sent from my Sony Xperia™ smartphone

---- Ionică Bizău (Johnny B.) wrote ----

[2017-07-15 15:27] IonicaBizau commented on #80
Yes, that's not good documented. I think you do have to provide a file containing the captions (otherwise, where is the text coming coming from?).

[2017-07-15 15:31] KiranShahdadpuri commented on #80
Then, it would be that way I guess:

Youtube.captions.insert({

    // Doc: defining caption resource
    snippet: {
        videoId:'GZG9G5txtaE',
        language:"en",
        name:"Subtitless"
    }
    , part: "snippet",

      media:{

      body:fs.createReadStream("test.srt")

     }

}, (err, data) => {
    console.log(data);
    process.exit();
});

On Sat, Jul 15, 2017 at 8:57 PM, Kiran

[2017-07-15 15:31] IonicaBizau commented on #80
Exactly! Similar to uploading!

[2017-07-15 15:32] KiranShahdadpuri commented on #80
Youtube.captions.insert({

    // Doc: defining caption resource
    snippet: {
        videoId:'GZG9G5txtaE',
        language:"en",
        name:"Subtitless"
    }
    , part: "snippet",
    media: {
        body: fs.createReadStream("test.srt")
    }

}, (err, data) => {
    console.log(data);
    process.exit();
});

On Sat, Jul 15, 2017 at 9:01 PM, Kiran Shahdadpuri <
kiranshahdadpuri@gmail.c

[2017-07-15 15:40] KiranShahdadpuri commented on #80
This is my code for adding a description to video:

Youtube.playlistItems.insert({
    //Doc: defining Video resource
    snippet: {
        playlistId: "PLYwXWZ_aNbyBu7f1_kIVOlNjzHRI263vQ"
        , resourceId: {
            kind: "youtube#video",
            videoId: "GZG9G5txtaE"
        },
        description: "This video is about guitar."
    }
    , status: {
        privacyStatus: "public"

[2017-07-15 15:43] IonicaBizau commented on #80
Great! Do you have any other questions?

---

Greetings from India, btw! 🇮🇳

[2017-07-15 15:44] KiranShahdadpuri commented on #80
It's giving me null :/

Sent from my Sony Xperia™ smartphone

---- Ionică Bizău (Johnny B.) wrote ----

[2017-07-15 15:47] IonicaBizau commented on #80
@KiranShahdadpuri Try logging the error (just in case there is one). `data` may be `null` when there's is an error.

[2017-07-15 15:53] KiranShahdadpuri commented on #80
This is the error:
{ Error: Required
    at Request._callback
(/home/kiran/WebstormProjects/appAngular/node_modules/google-auth-library/lib/transporters.js:85:15)
    at Request.self.callback
(/home/kiran/WebstormProjects/appAngular/node_modules/google-auth-library/node_modules/request/request.js:187:22)
    at emitTwo (events.js:106:13)
    at Request.emit (events.js:191:7)
    at Request.<anonym

[2017-07-15 15:55] IonicaBizau commented on #80
Wrap the `snippet` field into `resource`:

[code]

[2017-07-15 16:01] KiranShahdadpuri commented on #80
The error gone. Working. But, didn't add my description.

Sent from my Sony Xperia™ smartphone

---- Ionică Bizău (Johnny B.) wrote ----

[2017-07-15 16:02] IonicaBizau commented on #80
@KiranShahdadpuri Where do you expect the description to appear? I am not aware of any description for playlist items.

[2017-07-15 16:08] KiranShahdadpuri commented on #80
Description as in, on the youtube channel , it is written about the video's
publish date and something about it, above the comment section. The video
id which is in the code snippet has description 'Published on Jun 28, 2012

Greg Schechter, Zoltan Szego

Is HTML5 ready for production code? Of course it is. This is a look into
all the different HTML5 technologies we use in live code at YouTube. We

[2017-07-15 16:32] KiranShahdadpuri commented on #80
---------- Forwarded message ----------
From: Kiran Shahdadpuri <kiranshahdadpuri@gmail.com>
Date: Sat, Jul 15, 2017 at 9:59 PM
Subject: Re: [IonicaBizau/youtube-api] For creating playlist (#80)
To: Kiranshahdadpuri <kiranshahdadpuri@gmail.com>

Hello there? Did you get my usecase? Is it possible to add such description
for video programmatically?

On Sat, Jul 15, 2017 at 9:57 PM, Kiranshahdadpuri

[2017-07-15 18:03] KiranShahdadpuri commented on #80
Hey! Thanks a ton. I really appreciate your efforts for dealing with a
naive fresher like me. For any further assistance, will you be available at
this email? May I ping you?

Regards,
Kiran Shahdadpuri

On Sat, Jul 15, 2017 at 10:02 PM, Kiran Shahdadpuri <
kiranshahdadpuri@gmail.com> wrote:

[2017-07-15 23:47] IonicaBizau commented on #80
I think the description you refer to is the video description (when you upload the video), right? But I'm not sure if there is another kind of description when you add a video to the playlist—maybe can you post a screenshot with it from YouTube to see where it appears?

Please ask such questions on Stackoverflow and you'll get help from community. You can link them here, in issues, if you want. 😁

[2017-07-16 02:15] KiranShahdadpuri commented on #80
Yes, I am referring to that description only, when I upload it (the video description).

---- Ionică Bizău (Johnny B.) wrote ----

[2017-07-16 02:16] IonicaBizau commented on #80
You set that when you upload the video.

[2017-07-16 02:26] KiranShahdadpuri commented on #80
So, suppose if I don't add description at the time of uploading, and then later I want to add the description programmatically?

---- Ionică Bizău (Johnny B.) wrote ----

[2017-07-16 02:26] IonicaBizau commented on #80
In that case you want to `update` the video (`videos.update`).

[2017-07-17 13:05] KiranShahdadpuri commented on #80
I am retrieving the list of playlists in a channel:

Youtube.playlists.list({
    id:'UCJjC1hn78yZqTf0vdTC6wAQ',//id of channel
    // Doc: defining video resource
        snippet: {
            title: "Video",
            description: "This is a great video"
        }

    , status: {
        privacyStatus: "public"
    },
    contentDetails:{
        caption:true
    }
    , part: "snippet,statu

[2017-07-17 14:34] IonicaBizau commented on #80
If you want to access the `items`, you have to do `data.pageInfo.items`.

[2017-07-17 16:33] KiranShahdadpuri commented on #80
Youtube.playlists.list({
    id:'UCJjC1hn78yZqTf0vdTC6wAQ',//id of channel
    // Doc: defining video resource
    snippet: {
        title: "Video",
        description: "This is a great video"
    }
    , status: {
        privacyStatus: "public"
    },
    contentDetails:{
        caption:true
    }
    , part: "snippet,status,contentDetails",
}, (err, data) => {
    console.log(err || data);

[2017-07-17 16:48] IonicaBizau commented on #80
Sorry, just `data.items` (without page info). That is an empty array, because the playlist is empty, probably.

[2017-07-25 07:09] IonicaBizau commented on #80
OK, closing this. Hopefully the issues are fixed. Feel free to ask the questions you have. I recommend using Stackoverflow for that and linking them here, if you like.

[2017-07-25 07:09] #80 closed

[2017-07-27 13:41] ImuustMINE opened #81 "How can i renew a accestoken"
I understand basicly how the authorisation work. But how can i get an new accestoken if it expires?

[2017-08-03 01:28] IonicaBizau commented on #81
Please ask questions on Stackoverflow.

[2017-08-03 01:28] #81 closed

[2017-08-07 00:50] 2c2c opened #82 "Youtube thumbnail upload issue"
https://stackoverflow.com/questions/45535611/youtube-api-thumbnail-upload-isnt-working

[2017-08-31 06:53] jasan-s commented on #49
does this mean I can only set a thumbnail after the uploaded video has a valid youtube id? Is it not possible to set a custom thumbnail at time of uploading video?

[2017-09-11 10:20] haseeb-basil-pl opened #84 "How to get Youtube “Auto-generated CC”?"
Posted the question on SO.

https://stackoverflow.com/questions/46151386/how-to-get-youtube-auto-generated-cc-with-node-js-using-youtube-api

[2017-09-23 03:57] jasan-s opened #85 "adding AgeRestricted setting to uploading videos"
Is it possible to add ytAgeRestricted setting to the videos being uploaded using the API

[2017-09-23 16:47] IonicaBizau commented on #85
Please ask questions on Stack Overflow and eventually leave a link here.

[2017-11-08 16:24] bichotll commented on #21
Regarding the refresh token, I found out that it was not being returned by the API unless you set `approval_prompt:'force',` on the generateAuthUrl method...such as:
[code]

[2017-12-12 23:17] remorses opened #86 "Can't see the video uploaded through youtube-api"
https://stackoverflow.com/questions/47783116/cant-see-the-video-uploaded-through-youtube-api

[2018-01-21 09:14] IonicaBizau commented on #86
(you can accept your Stack Overflow answer: https://stackoverflow.com/a/47819035/1420197)

[2018-01-21 09:14] #86 closed

[2018-03-20 07:40] IonicaBizau commented on #43
https://github.com/google/google-api-nodejs-client/issues/574#issuecomment-374481800

[2018-03-25 09:08] ButuzGOL opened #87 "400. That’s an error. Error: redirect_uri_mismatch"
i did as in example getting this error
my config
[code]

[2018-05-17 19:19] binarious opened #88 "Vulnerable packages"
Nsp detected packages with vulnerabilities:

- https://nodesecurity.io/advisories/658
youtube-api@2.0.9 > googleapis@5.2.1 > gapitoken@0.1.5 > jws@3.0.0 > jwa@1.0.2 >  base64url@0.0.6

- https://nodesecurity.io/advisories/664
youtube-api@2.0.9 > googleapis@5.2.1 > request@2.72.0 > stringstream@0.0.6

Any chance you can update `googleapis`? Current version is `30.0.0`.

[2018-05-17 19:35] IonicaBizau commented on #88
Wow, 30. 😄

Contributions are welcome! Currently I'm busy with other projects, but would like to merge a PR fixing this (I don't have time to bump and test the new version).

[2018-11-30 02:09] SpaceboyRoss01 opened #90 "TypeError: authClient.request is not a function"
Caused by: `youtube.search.list`
Error:
[code]

[2019-01-31 11:59] ggepenyan opened #92 "Authenticate without login form"
I want to use api only with refresh token. I know it's possible, because I tried it in frontend and it worked. I want to do the same in nodejs. Thanks a lot

[2019-01-31 12:17] ggepenyan commented on #92
In the example code I can see these lines:

`opn(oauth.generateAuthUrl({
    access_type: "offline"
  , approval_prompt:'force'
  , scope: ["https://www.googleapis.com/auth/youtube.upload"]
}));`
 I would like to dsimiss it and get video uploaded with refresh token.

[2019-02-18 06:22] hoyuenkim commented on #92
@ggepenyan how can you make it possible to upload a video without login session in frontend? And did you find any solution about your question?

[2019-02-18 07:04] ggepenyan commented on #92
@hoyuenkim Hi, thanks for response. Yes I have did that. I found that api user can authenticate with `Oauth2`(with reset token and access token). I have used `axios` to send and receive tokens(you have to send reset token and receive an access token so that you can use that access token to use api). But I believe it would be nice to be able to do all this staff with the package only. I have to kee

[2019-02-18 07:42] hoyuenkim commented on #92
p{margin-top:0;margin-bottom:0}

    Dear ggepenyanThank you for your mail.I really want to see the code.I tried to find any package or code to make it possible but I failed..thank you
--------- 원본 메일 ---------

        보낸사람: ggepenyan <notifications@github.com>
        받는사람: IonicaBizau/youtube-api <youtube-api@noreply.github.com>

            참조: hykim <hoyuen.kim@hanmail.net>, Mention <mention@

[2019-02-18 08:11] hoyuenkim commented on #92
@ggepenyan Thank you for your kindness.

I am trying to solve this problem by Nightmare but it does not work properly. I wish I could get some code from you. Thank you.

[2019-03-07 20:36] mayeaux commented on #92
I think I'm having the same issue. Wish I could just authenticate with my apiKey rather than go through an oauth flow (I already have my key).

[2019-03-08 04:07] ggepenyan commented on #92
Today I'll share my code with you @hoyuenkim

[2019-03-08 07:35] ggepenyan commented on #92
Here is how I did that. Want to know is there any better way to do it? Or maybe you have some suggestions.
![image](https://user-images.githubusercontent.com/17830568/54014335-21ee9e80-4131-11e9-8b90-66d2f8934262.png)
![image](https://user-images.githubusercontent.com/17830568/54014350-32067e00-4131-11e9-81a6-3286a8854893.png)
I've used cornjob to get **access token** . Here is that part
![image](

[2019-03-08 07:40] ggepenyan commented on #92
I'm using cronjob because a single access token expires after 1 hour. I think it would be nice if the package automatically did this part. It would be very helpful. I've used `cron` package for cronjob

[2019-04-29 14:30] IonicaBizau commented on #92
Please ask the questions on Stackoverflow instead.

[2019-06-17 21:40] mayeaux opened #93 "Error: No access or refresh token is set."
[code]

Authenticating using this method with an access key that I generated from Google, receiving an error:
`Error: No access or refresh token is set.`

Has YouTube updated their API or something?

[2019-12-06 09:50] CLEMARCx commented on #82
I know its late, but if someone stumbles over this issue, here is the solution:
https://github.com/googleapis/google-api-nodejs-client/issues/787

[2020-07-17 11:37] #84 closed

[2020-07-17 11:37] #88 closed

[2020-07-17 11:38] IonicaBizau commented on #87
You have to make sure the redirect uris match.

[2020-07-17 11:38] #87 closed

[2020-07-17 11:38] #85 closed

[2020-07-17 11:38] #82 closed

[2020-07-17 11:38] #79 closed

[2020-08-12 03:57] archubbuck opened #97 "Cannot read property 'req' of undefined"
My assumption is that the issue is on my end where I may have improperly configured the client. Please let me know if there is any specific set up that must take place beforehand.

[code]

[2020-08-12 08:15] IonicaBizau commented on #97
This may happen because of the latest updates from `googleapis`. We have to check out how they currently expose the `_bytesDispatched` value, more exactly the request object.

[2020-10-08 22:50] Baennon opened #98 "Open Oauth screen in my Electron app and not in the browser"
Hi,

I'm creating a youtube desktop client with electron and I would like the oauth page to open as a window of my app and not in a new tab of the default browser.

The code I have for the moment is that :
[code]

[2020-11-09 21:26] TroyKomodo opened #99 "TypeScript?"
Is there a d.ts?

[2021-02-01 11:57] jnorris441 opened #100 "oAuth setCredentials doesn't send expiry_date"
I find that unless I pass in the expiry_date param into setCredentials manually, it will not automatically refresh the access token using the refresh token.

workaround (ignore config related stuff sorry)

[code]

[2021-02-05 01:22] fxnoob commented on #99
it just adds auth in 'lib/index.js' This package uses https://github.com/googleapis/google-api-nodejs-client. which has types
https://github.com/googleapis/google-api-nodejs-client#typescript. either define your types or use official package.

[2021-09-04 20:17] XeraFiu-YTB commented on #49
Use the .then() method is a solution :
[code]

[2021-09-05 12:27] IonicaBizau commented on #49
You are right. If I am not wrong, there is no way to set the video thumbnail before the video would get processed.

Sent from my iPhone

[2022-01-12 08:29] risharde opened #101 "Need proper documentation on how to set this up"
Hi, so I've tried desperately to use this module and I followed what I thought would be an easy process of running this code on nodeJS. However, after creating credentials via the console and adding it to the script, I don't know what to do after. The script is just stuck waiting for something so I tried visiting the localhost:5000/oauth2callback and then it errors out.

Can someone explain how to

[2022-01-29 08:48] denkan commented on #99
So basically, just use `@googleapis/youtube` instead of this lib, got it.

[code]